@tailwind base;
@tailwind components;
@tailwind utilities;






@font-face {
  font-family: "Cookie";
  src:url("../public/fonts/Cookie-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src:url("../public/fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Cantarell";
  src:url("../public/fonts/Cantarell-Regular.ttf");
}


.rotateRight
{
  
  transform: rotate(45deg);
  
}

.rotateLeft
{
  transform: rotate(-45deg);
 
}



html {
  height: 100;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  outline: 2px solid transparent;
  background-color:#FCEEF2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


